/* Add CSS styling here */
.main-img {
    display: flex;
    justify-content: center;
    border: solid cyan;
    margin: 1rem 7rem 7rem 7rem;
    height: 25rem;
    padding: 230px;
    background: url(https://www.pandasecurity.com/mediacenter/src/uploads/2019/07/pandasecurity-How-do-hackers-pick-their-targets.jpg);
}
body {
    background: url(https://www.arcgis.com/sharing/rest/content/items/598c637205044f40997936758063a145/resources/1586392909303.jpeg?w=2687);
}
.main-img a {
    font-size: 4rem;
    text-decoration: none;
    color: rgb(10, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-img a:hover {
    background-color: darkcyan;
    color: black;
    
}

h1 {
    font-size: 130px;
    color: whitesmoke;
    
    
}
.nav-bar {
    
    height: 3rem;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}
.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-bar a {
    width: 25%;
    margin: 7px;
    color: whitesmoke;
    text-decoration: none;
}
.nav-bar a:hover {
    background-color: black;
    border: solid cyan;
}
h2 {
    font-size: 3rem;
    color: whitesmoke;
}
h2:hover {
    background-color: black;
    color: cyan;
}


.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
    
.footer-button {
    display: flex;
    justify-content: center;
    border: solid cyan;
    padding: 20px;
    margin: 2rem 50rem 2rem 50rem;
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
}
.footer-button:hover {
    background: black;
    color: cyan;
}
p {
    color:white;
}
