/* Add CSS styling here */
.main-img {
    display: flex;
    justify-content: center;
    border: solid cyan;
    margin: 1rem 7rem 7rem 7rem;
    height: 25rem;
    padding: 230px;
    background: url(https://www.pandasecurity.com/mediacenter/src/uploads/2019/07/pandasecurity-How-do-hackers-pick-their-targets.jpg);
}
body {
    background: url(https://www.arcgis.com/sharing/rest/content/items/598c637205044f40997936758063a145/resources/1586392909303.jpeg?w=2687);
}
.main-img a {
    font-size: 4rem;
    text-decoration: none;
    color: rgb(10, 209, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-img a:hover {
    background-color: darkcyan;
    color: black;
    font-size: 5rem;   
}
p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

h1 {
    font-size: 130px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    height: 30px;
    
}
.nav-bar {
    
    height: 3rem;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}
.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-bar a {
    width: 25%;
    margin: 7px;
    color: whitesmoke;
    text-decoration: none;
}
.nav-bar a:hover {
    margin: 20px;
    font-size: 3rem;
}
h2 {
    font-size: 3rem;
    color: whitesmoke;
}
h2:hover {
    background-color: black;
    color: cyan;
}
.img1 {
    display: flex;
    align-items: center;
    flex-flow: column;
    border: solid cyan;
}
.img2 {
    display: flex;
    align-items: center;
    flex-flow: column;
    border: solid cyan;
}
.img3 {
    display: flex;
    align-items: center;
    flex-flow: column;
    border: solid cyan;
}
.img4 {
    display: flex;
    align-items: center;
    flex-flow: column;
    border: solid cyan;
}
.img5 {
    display: flex;
    align-items: center;
    flex-flow: column;
    border: solid cyan;
}
.img6 {
    display: flex;
    align-items: center;
    flex-flow: column;
    border: solid cyan;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    font-size: 2rem;
    justify-content: space-evenly;
    
}
    
.footer-button {
    display: flex;
    justify-content: center;
    border: solid cyan;
    padding: 20px;
    margin: 2rem 50rem 2rem 50rem;
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
}
.footer-button:hover {
    background: black;
    color: cyan;
    font-weight: normal;
    font-size: 3rem;
}
.social-media {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.social-media a {
    justify-content: space-evenly;
    text-decoration: none;
    margin: 10px;
    color: whitesmoke;
}
.social-media a:hover {
    color: cyan;
    font-size: 3rem;
}
.main-img p{
    color: whitesmoke;
}
p {
    color: cyan;
}
.img4 p {
    color: black;
    font-weight: bolder;
    background-color: rgba(0, 255, 255, 0.616);
}
.img5 p {
    color: black;
    font-weight: bolder;
    background-color: rgba(0, 255, 255, 0.685);
}
.img6 p {
    color: black;
    font-weight: bolder;
    background-color: rgba(0, 255, 255, 0.603);
}